
<h1 class="display-4 text-center m-b-2"><%= t('.memberslist') %></h1>

<%= form_tag students_url, method: :get, remote: true, id: 'students_search_form' do %>
    <%= text_field_tag :search, params[:search], placeholder: t('.search'), class: 'form-control', id: 'students_search' %>
<% end %>

<div id="students" class="m-t-2">
  <%= render 'students', students: @students %>
</div>
