/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require select2
 *= require select2-bootstrap
 *= require_self
 */
@import "bootstrap";
@import "navbar";
@import "students";

.hidden {
  display: none;
}

.form-group > .date {
  display: flex;
  & > * {
    display: flex;
  }

  .form-control{
    display: block;
    margin: 0 0.5em;
    &.day{
      flex-grow: 1;
    }
    &.month{
      flex-grow: 3;
    }
    &.year{
      flex-grow: 2;
    }
  }
}

.text-center {
  text-align: center;
}

.btn {
  white-space: normal;
}

#fetching {
  display: none;
}