!!!
%html
  %head
    - if content_for? :title
      %title
        = yield(:title)
        =' - MARSU'
    - else
      %title MARSU
    = render_with_haml 'layouts/headers'
  %body
    = render_with_haml 'layouts/navbar'
    #main.container= yield